html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #222;

    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 16px;
    font-weight: 600;
}

// List
ul,
ol {
    padding-left: 16px;
    li {
        padding-left: 16px;
        text-indent: -16px;
    }

    ol,ul{
        padding-left: 0;
    }
}

// Code
pre {
    padding: 16px;
    margin: 16px 0;
    background: $clr-bg-pre;
    overflow: auto;
    border-radius: 2px;
}
