@import "page";

h1,
h1 + p,
h1 + p + p {
    text-align: center;
}

h1{
    margin-bottom: 0;
}

h1 + p,
h1 + p + p {
margin: 0;
}

h1 + p + p {
    color: $orange;
    font-weight: bold;
}

h1 + p + p + hr {
    margin: 4rem 0;
}

h3{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}

h3 strong{
    color: $orange;
}

hr ~ p,
hr ~ ul,
hr ~ h3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

h3 + p{
    margin-top: 0;
    margin-bottom: 1rem;
}

ul li::marker {
    color: $orange;
}