@import "../_variables";

html,
body {
    height: 100%;
    margin: 0 auto;

    display: grid;
    justify-items: center;
    align-items: center;
}

.me {
    text-align: center;
    padding-bottom: 2rem;
}

.me .who {
    margin: 0;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.me .who .primary {
    font-weight: 400;
    color: #fe7f2d;
}

.me .what {
    font-size: 80%;
    letter-spacing: 0.5rem;
}

.links{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0;
        list-style-type: none;
        justify-content: center;
    }
}