@import "../_variables";

nav {
    padding-bottom: 1rem;

    font-size: 2.5rem;

    .brand {
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        .primary {
            font-weight: 400;
            color: $orange;
        }
    }
}