html {
  scrollbar-color: $scrollbar-thumb $background-body;
  scrollbar-width: thin;

  font-size: 62.5%; 
}

body {

  font-size: 1.5rem; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;

  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 1rem;
  word-wrap: break-word;
  color: $text-main;
  background: $background-body;
  text-rendering: optimizeLegibility;
}

button,
input,
textarea {
  transition:
    background-color $animation-duration linear,
    border-color $animation-duration linear,
    color $animation-duration linear,
    box-shadow $animation-duration linear,
    transform $animation-duration ease;
}
