code,
samp,
time {
  background: $background;
  color: $code-colour;
  padding: 0.25rem 0.5rem;
  border-radius: 0.6rem;
  font-size: 1em;
}

pre > code {
  padding: 1rem;
  display: block;
  overflow-x: auto;
}

pre {
  overflow-x: auto;
}

var {
  color: $variable;
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: $background;
  border: 0.1rem solid $border;
  border-radius: 0.2rem;
  color: $text-main;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: $code-selection;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: $code-selection;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $code-comment;
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.string {
  color: $code-string;
}

.token.punctuation,
.token.operator {
  color: $code-punctuation; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: $code-variable;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"] {
  color: $code-keyword;
}

.token.function {
  color: $code-function;
}

.token.deleted,
.language-autohotkey .token.tag {
  color: $code-deleted;
}

.token.selector,
.language-autohotkey .token.keyword {
  color: $code-selector;
}

.token.important {
  color: $code-important;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name,
.language-json .token.property {
  color: $code-class-name;
}

.token.tag,
.token.selector {
  color: $code-selector;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: $code-property;
}

.token.directive.tag .tag {
  background: $code-bg-tag;
  color: $code-tag;
}

.line-numbers .line-numbers-rows {
  border-right-color: $code-line-numbers;
}

.line-numbers-rows > span:before {
  color: $code-line-rows;
}

.line-highlight {
  background: rgba(193, 222, 241, 0.2);
  background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
  background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}
