a,
a:link,
a:active,
a:visited {
  color: $links-colour;
  text-decoration: none;
}

a {
  border-bottom: 3px solid $links-accent;
  font-weight: 700;

  transition: all $animation-duration ease-in-out;
}

a:hover {
  background-color: $links-accent;
}
