<style>
    .colour {
        height: 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour h2 {
        margin: 0;
    }

    .colour-group {
        margin-bottom: 1.2rem;
        margin-top: 2.4rem;
    }
</style>

<h1 style="text-align: center;">My Colour Pallet</h1>

<div class="group">
    <div class="colour-group orange">
        <div class="colour" style="background-color: #fe7d2d;">
            <h2>Burnt Orange</h2>
        </div>
        <table>
            <tr>
                <th>HEX</th>
                <td>#FE7D2D</td>
            </tr>
            <tr>
                <th>RGB</th>
                <td>254, 125, 45</td>
            </tr>
            <tr>
                <th>CMYK</th>
                <td>0, 51, 82, 0</td>
            </tr>
        </table>
    </div>

    <div class="colour-group purple">
        <div class="colour" style="background-color: #7D2DFE;">
            <h2 style="color:#fff;">Electric Violet</h2>
        </div>
        <table>
            <tr>
                <th>HEX</th>
                <td>#7D2DFE</td>
            </tr>
            <tr>
                <th>RGB</th>
                <td>125, 45, 254</td>
            </tr>
            <tr>
                <th>CMYK</th>
                <td>51, 82, 0, 0</td>
            </tr>
        </table>
    </div>

    <div class="colour-group green">
        <div class="colour" style="background-color: #2DFE7D;">
            <h2>Spring Green</h2>
        </div>
        <table>
            <tr>
                <th>HEX</th>
                <td>#2DFE7D</td>
            </tr>
            <tr>
                <th>RGB</th>
                <td>45, 254, 125</td>
            </tr>
            <tr>
                <th>CMYK</th>
                <td>82, 0, 51, 0</td>
            </tr>
        </table>
    </div>

    <div class="colour-group black">
        <div class="colour" style="background-color: #222222;">
            <h2 style="color:#fff;">Nero</h2>
        </div>
        <table>
            <tr>
                <th>HEX</th>
                <td>#222222</td>
            </tr>
            <tr>
                <th>RGB</th>
                <td>34, 34, 34</td>
            </tr>
            <tr>
                <th>CMYK</th>
                <td>0, 0, 0, 87</td>
            </tr>
        </table>
    </div>
</div>