@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-color: #d5d5d5 #fff;
    scrollbar-width: thin;
  }
  
  body {  
    @apply font-sans;
    word-wrap: break-word;
    color: #222222;
    background: #ffffff;
    text-rendering: optimizeLegibility;
  }
  
  button,
  input,
  textarea {
    transition: background-color 0.1s linear,
      border-color 0.1s linear, color 0.1s linear,
      box-shadow 0.1s linear, transform 0.1s ease;
  }