h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1.2rem;
  padding-top: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

q::before {
  content: none;
}

q::after {
  content: none;
}

blockquote,
q {
  border-left: 0.4rem solid rgba(254, 127, 45, 0.65);
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  font-style: normal;
  border: 0;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^="mailto\:"]::before {
  content: "📧 ";
}

a[href^="tel\:"]::before {
  content: "📞 ";
}

a[href^="sms\:"]::before {
  content: "💬 ";
}

mark {
  background-color: #ff0;
  padding: 0 0.2rem 0 0.2rem;
  color: #171717;
}
