---
layout: home
---

<div class="me">
    <h1 class="who">
        <span>Tim</span>
        <span class="primary">Cane</span>
    </h1>
    <div class="what">Senior Developer</div>
</div>
<div class="links">
    <ul>
        <li>
            <a href="/curriculum-vitae/">CV</a>
        </li>
        <li>
            <a href="https://github.com/timcane">Github</a>
        </li>
    </ul>
</div>