---
layout: home
---

<div class="me">
    <h1 class="who">
        <span>Tim</span>
        <span class="primary">Cane</span>
    </h1>
    <div class="what">.Net Developer</div>
</div>
<ul class="links">
    <li>
        <a href="/projects">Projects</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
</ul>